@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #181c24;
}
* header nav .navbar-nav a.nav-link:after {
  border-bottom: solid 1px #4795ff;
  content: "";
  display: block;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease-in-out;
}
* header nav .navbar-nav a.nav-link:hover {
  color: #7ab2ff;
}
* header nav .navbar-nav a.nav-link:hover:after {
  transform: scaleX(1);
}
@media screen and (max-width: 992px) {
  * header nav .navbar-nav {
    align-items: center !important;
  }
}
* main {
  position: relative;
  z-index: 1;
  height: 100%;
}
* main .parallax {
  height: 35vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10vh 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.3s ease-in-out;
  border: solid 0px white;
}
* main .parallax h1,
* main .parallax h2 {
  color: white;
  font-family: "Permanent Marker", cursive;
  text-shadow: -2px -2px 0 #181c24, 2px -2px 0 #181c24, -2px 2px 0 #181c24, 2px 2px 0 #181c24;
}
* main .parallax h1.display-1,
* main .parallax h2.display-1 {
  -webkit-text-decoration: underline wavy;
          text-decoration: underline wavy;
}
* main .parallax.p0 {
  border-radius: 0;
  border: none;
  height: 60vh;
  background-image: url("img/1.jpeg");
}
* main .parallax.p0:hover {
  border: solid 2rem white;
}
* main .parallax.p1 {
  background-image: url("img/2.png");
}
* main .parallax.p1:hover {
  border: solid 2rem white;
}
* main .parallax.p2 {
  background-image: url("img/3.png");
}
* main .parallax.p2:hover {
  border: solid 2rem #e3e6e8;
}
* main .parallax.p3 {
  background-image: url("img/4.png");
}
* main .parallax.p3:hover {
  border: solid 2rem white;
}
* main .card-title {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
* main .card-title h3 {
  font-family: "Itim", cursive;
}
* .btn-bleu {
  color: white !important;
  background: #006af9 !important;
}
* .btn-bleu:hover {
  background-color: #0054c6 !important;
}
* .btn-bleu-d {
  color: white !important;
  background: #0049ad !important;
}
* .btn-rouge {
  color: white !important;
  background: #d22f20 !important;
}
* .btn-rouge-d {
  color: white !important;
  background: #902016 !important;
}
* .btn-blanc {
  color: #181c24 !important;
  background: white !important;
}
* .btn-noir {
  color: white !important;
  background: #181c24 !important;
}
* .btn-gris {
  background: #e3e6e8 !important;
}
* .text-bleu {
  color: #006af9 !important;
}
* .text-rouge {
  color: #d22f20 !important;
}
* .text-blanc {
  color: white !important;
}
* .text-noir {
  color: #181c24 !important;
}
* #vide {
  width: 100%;
  height: 10rem;
}/*# sourceMappingURL=style.css.map */