@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

$bleu : #006af9;
$rouge: #d22f20;
$noir: #181c24;
$blanc: lighten(#dfe2e4, 25%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $noir;

    header {
        nav {
            & .navbar-nav {
                & a.nav-link {
                    &:after {
                        border-bottom: solid 1px lighten($bleu, 15%);
                        content: '';
                        display: block;
                        transform: scaleX(0);
                        transform-origin: top left;
                        transition: transform .3s ease-in-out;
                    }

                    &:hover {
                        color: lighten($bleu, 25%);

                        &:after {
                            transform: scaleX(1);
                        }
                    }
                }
            }

            @media screen and (max-width: 992px) {
                & .navbar-nav {
                    align-items: center !important;
                }
            }
        }
    }

    main {
        position: relative;
        z-index: 1;
        height: 100%;

        .parallax {
            height: 35vh;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10vh 0;
            user-select: none;
            transition: all .3s ease-in-out;
            border: solid 0px $blanc;

            & h1,
            h2 {
                color: $blanc;
                font-family: 'Permanent Marker', cursive;
                text-shadow: -2px -2px 0 $noir, 2px -2px 0 $noir, -2px 2px 0 $noir, 2px 2px 0 $noir;

                &.display-1 {
                    text-decoration: underline wavy;
                }
            }

            &.p0 {
                border-radius: 0;
                border: none;
                height: 60vh;
                background-image: url("img/1.jpeg");

                &:hover {
                    border: solid 2rem $blanc;
                }
            }

            &.p1 {
                background-image: url("img/2.png");

                &:hover {
                    border: solid 2rem $blanc;
                }
            }

            &.p2 {
                background-image: url("img/3.png");

                &:hover {
                    border: solid 2rem darken($blanc, 10%);
                }
            }

            &.p3 {
                background-image: url("img/4.png");

                &:hover {
                    border: solid 2rem $blanc;
                }
            }
        }

        .card {
            &-title {
                user-select: none;

                h3 {
                    font-family: 'Itim', cursive;
                }
            }
        }
    }


    .btn {
        &-bleu {
            color: $blanc !important;
            background: $bleu !important;

            &:hover {
                background-color: darken($bleu, 10%) !important;
            }
        }

        &-bleu-d {
            color: $blanc !important;
            background: darken($bleu, 15%) !important;
        }

        &-rouge {
            color: $blanc !important;
            background: $rouge !important;
        }

        &-rouge-d {
            color: $blanc !important;
            background: darken($rouge, 15%) !important;
        }

        &-blanc {
            color: $noir !important;
            background: $blanc !important;
        }

        &-noir {
            color: $blanc !important;
            background: $noir !important;
        }

        &-gris {
            background: darken($blanc, 10%) !important;
        }
    }

    .text {
        &-bleu {
            color: $bleu !important;
        }

        &-rouge {
            color: $rouge !important;
        }

        &-blanc {
            color: $blanc !important;
        }

        &-noir {
            color: $noir !important;
        }
    }

    #vide {
        width: 100%;
        height: 10rem;
    }
}